ul {
    list-style-type: none;
    padding-left: 1rem;
    width: fit-content
}

.flight_card {
    display: flex;
    margin-bottom: 1rem;
    border: 1px solid grey;
    border-radius: 4px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.flight_card li {
    padding-left: 1rem;
}

.passenger_card {
    margin: 1rem;
    border: 1px solid darkgray;
    padding: 0.7rem;
    border-radius: 4px;
}